.app{
    background: rgb(43,41,45);
    background: -moz-linear-gradient(90deg, rgba(43,41,45,1) 0%, rgba(190,37,37,1) 50%, rgba(239,252,69,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(43,41,45,1) 0%, rgba(190,37,37,1) 50%, rgba(239,252,69,1) 100%);
    background: linear-gradient(90deg, rgba(43,41,45,1) 0%, rgba(190,37,37,1) 50%, rgba(239,252,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b292d",endColorstr="#effc45",GradientType=1);
}